body{
    font-family: "Roboto", sans-serif;
    min-width: 560px;
}

header a{
    text-decoration: none;
    color: white;

}

.dropdown-toggle::after {
    display: none; 
}

ul > li{
    list-style: none;
}

div.side_navbar{
    height: 100vh;
}

.side-navbar {
    width: 150px;
    background-color: #343a40; 
    color: white;
    justify-content: space-between;
}

.admin{
    margin-top: 660px;
}

header{
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 54px;
    left: 0;
    background-color: rgb(5, 30, 52);
    color: white;
    overflow-x: hidden;
    font-weight: 500;
    padding-top: 0;
}

section.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    min-width: 560px;
}

div.nav ul li{
    padding-top: 0.5rem;
    font-size: 0.6rem;
    font-weight: 700;
}

section.students{
    font-size: 0.8rem;
    background-color: rgb(27, 114, 232);
    margin-top: 54px;
}

.stud_btn{
    color: white;
}

.stud_btn:hover{
    background-color: white;
    color: rgb(27, 114, 232);
}

.offcanvas.custom-width{
    width: 40vw;
}

main{
    margin-left: 140px;
}

.btn_small{
    font-size: 0.8rem;
}

/* media query */

@media all and (max-width:767px) {
    header,
    section.sidenav{
        width: 70px;
    }

    main{
        margin-left: 70px;
    }

    ul li a.text{
        display: none;
    }

}

@media all and (max-width:576px){
    .offcanvas.custom-width{
        width: 100vw;
    }
}