body{
    font-family: "Roboto", sans-serif;
    min-width: 530px;
}

header a{
    text-decoration: none;
    color: white;

}

ul > li{
    list-style: none;
}


div.side_navbar{
    height: 100vh;
}

.side-navbar {
    width: 150px;
    background-color: #343a40; 
    color: white;
    justify-content: space-between;
}



header{
    display: flex;
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 54px;
    left: 0;
    background-color: rgb(5, 30, 52);
    color: white;
    overflow-x: hidden;
    padding: 1rem;
    font-weight: 500;
    padding-top: 0;
}

div.nav ul li{
    padding-top: 0.5rem;
    font-size: 0.6rem;
    font-weight: 700;
}

section.students{
    font-size: 0.8rem;
    background-color: rgb(27, 114, 232);
}

main{
    margin-left: 150px;
}
/* media query */

@media all and (max-width:767px) {
    header,
    section.sidenav{
        width: 70px;
    }

    main{
        margin-left: 70px;
    }

    div.nav ul{
        padding-left: 10px;
    }

    ul li a.text{
        display: none;
    }

    
}